<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pokedex</title>
  </head>
  <body>
    <h1>Pokemon show page</h1>

    <h4><%= data.name %> </h4><br />
    <img src=<%= data.img%>>
    <%=data.type%><br />
    <%=data.stats.hp%><br />
    <%=data.stats.attack%><br />
    <%=data.stats.defense%><br />
    <%=data.stats.speed%><br />

    <h4><a href="/">Back to Index</a></h4>

  </body>
</html>