<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />  
    <title>Pokedex</title>
    <link rel="stylesheet" href="./public/style.css"/> 
    <!-- Cannot get reference link to work -->
    <style>
    html{
        background: linear-gradient(
                    to right,
                    rgba(252, 110, 149, 0.6),
                    rgba(217, 84, 19, 1) 95%
        );
    }
    .card {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      max-width: 400px;
      height: 155px;
      margin: 20px;
      border-radius: 10px;
      background-color: #E2E8F0;
      box-shadow:
        0 9px 33px rgba(0, 0, 0, 0.07);
    }

    .card-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 250px;
        margin-left: 10px;
    }

    .card-img{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    .card-description{
        margin: 10px 0;
    }

    .card-link{
        margin-top: 20px;
    }

    .card-skills {
        display: flex;
        justify-content: space-between;
    }


.card-title{
    font-size: 16px;
    color: #334155;
}

.card-description{
    font-size: 12px;
    color: #64748B;
}

.card-skills .skill {
    font-size: 12px;
    font-weight: 600;
    color: #475569;
    
    justify-content: space-between;
}

.card-link{
    font-size: 12px;
    color: #4F46E5;
}

    </style>
  </head>


  <body>
    <h1>Pokedex</h1>
    
    <div class="card">
        <div>
            <img class="card-img" src=<%= data.img%>>
        </div>
        <div class="card-text">
            <h2 class="card-title"><%= data.name %></h2>
            <p class="card-description">
               <span><%=data.type%></span> 
            </p>
            <div class="card-skills">
                <p class="skill">HP: <%=data.stats.hp%></p>
                <p class="skill">Attack: <%=data.stats.attack%></p>
                <p class="skill">Defense: <%=data.stats.defense%></p>
                <p class="skill">Speed: <%=data.stats.speed%></p>
            </div>
            <a href="/" class="card-link">Go Back</a>
        </div>
</div>
<!-- 
    <h4><%= data.name %> </h4><br />
    <img src=<%= data.img%>>
    <%=data.type%><br />
    <%=data.stats.hp%><br />
    <%=data.stats.attack%><br />
    <%=data.stats.defense%><br />
    <%=data.stats.speed%><br /> 

    <h4><a href="/">Back to Index</a></h4> -->

  </body>
</html>